
<div class="overflow-auto container p-0 m-0 infobtn" >
  <svg  data-toggle="collapse" href="#collapseExample"   xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle float-right" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
  </svg>

  <div id="collapseExample" class="collapse bg-transparent container float-left" >
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item"  [ngClass]="{'active': showHelp}"><a class="page-link" (click)="showHelp=!showHelp">Toggle Help</a></li>
          <li class="page-item"  routerLink="/game" routerLinkActive="active"><a class="page-link" >Snake Game</a></li>
          <li class="page-item" routerLink="/drawsnake" routerLinkActive="active" (click)="goDraw()"><a class="page-link" >Change snake</a></li>
        </ul>
      </nav>
        <div [ngClass]="{'show':showHelp, 'notShow':!showHelp}">
          <ol class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto w-100">
                <div class="font-weight-bold">Snake Game</div>
                  <ol class="list-group">
                      <li class="list-group-item">Click start-> click on snake game box then use arrow keys to control snake movements</li>
                    <li class="list-group-item">Slide the slider to modify respective game setting</li>
                    <li class="list-group-item">At the bottom right corner of the snake game box, click and drag it to desired map size.</li>
                    <li class="list-group-item text-success">You are able to change any of these three setting during the game and changes can be seen in real-time</li>
                  </ol>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto w-100">
                <div class="font-weight-bold">Change Snake</div>
                  <ol class="list-group">
                    <li class="list-group-item">The dimension of the drawing box is dependent on the map setting configured at the snake game page. i.e. size of map and snake size.</li>
                    <li class="list-group-item">Click/Click and drag cells in the drawing box to draw the snake you want to start of with in the snake game page.</li>
                    <li class="list-group-item">The first cell you click would be the head of the snake.</li>
                    <li class="list-group-item">Finally, click Save Changes -> click Snake Game. And you will notice that the snake in the game is changed</li>
                    <li class="list-group-item text-warning">You cannot draw a disconnected snake.</li>
                  </ol>
              </div>

            </li>
        </ol>
        </div>
        <div [ngClass]="{'show':!showHelp, 'notShow':showHelp}">
          <div class="form-group row">
            <label for="speedInput" class="col-sm-3 col-form-label">SPEED</label>
            <div class="col-sm-9">
              <input [(ngModel)]="speed" type="range" class="form-range form-control" min="1" max="10" step="1" id="speedInput">
            </div>
          </div>
          <div class="form-group row">
            <label for="snakesizeInput" class="col-sm-3 col-form-label">Snake Size</label>
            <div class="col-sm-9">
              <input [(ngModel)]="cellSide" (ngModelChange)="ngAfterViewInit()" type="range" class="form-range form-control" min="5" max="50" step="5" id="snakesizeInput">
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <div class="col-sm-auto ">
              <button  class=" btn  form-control btn-success" *ngIf="p==='pause'; else elseBlock"  (click)="p='start'">START</button>
              <ng-template  #elseBlock  >
              <button class="btn  form-control btn-danger" *ngIf="p==='start'"  (click)="p='pause'">PAUSE</button>
              </ng-template>
            </div>
          </div>
        </div>

  </div>

</div>

<div [mousetextbox]="activate" [textIn] = "''+tmpN" [zindex]=3></div>
<div class="container1" #container1 [style.width.px]="data.width" [style.height.px]="data.height" >
  <div class="container2"    #container2   [style.width.px]="data2.width" [style.height.px]="data2.height">

    <snakegame-angular (death)="death()" [(p)]="p" [(x)]="x" [(y)]="y"  [(speed)]="speed" [cellSide]="cellSide" [n]="n" [usePreview]="usePreview" (usePreviewChange)="usePreviewChanges($event)" [snakeSet]="snakeSet" [snakeQueue]="snakeQueue"></snakegame-angular>

    <div  class="resize resize__bottom--right" style="border: 3px solid red" (resize)="onResizePreview($event)"
      (resizeEnd)="onResize($event)" [proportionalResize]="true" [applyClass]="c" [targetElement]="container2"
      [direction]="AngularResizeElementDirection.BOTTOM_RIGHT">
    </div>

  </div>
</div>
