<div class=" container p-0 m-0 infobtn">
  <svg  data-toggle="collapse" href="#collapseExample"   xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle float-right" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
  </svg>
  <div id="collapseExample" class="collapse bg-transparent container float-left">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item"   routerLink="/game" routerLinkActive="active"><a class="page-link">Snake Game</a></li>
          <li class="page-item" routerLink="/drawsnake" routerLinkActive="active"><a class="page-link" >Change snake</a></li>
        </ul>
      </nav>

        <div class="form-group row justify-content-center">
          <div class="col-sm-auto ">
            <button  class=" btn  form-control btn-success" (click)="saveChanges()">Save Changes</button>
          </div>
        </div>
  </div>
</div>

<canvas #drawId class="show" (mousemove)="movingEvt($event)" (mouseout)="down=0" (mousedown)="downEvt($event)" (mouseup)="upEvt($event)" style=" border: 1px solid blue">
</canvas>
